# Ignore user files
/box/aker/*

# Include zshrc
!/box/aker/.zshrc

# Ignore apt

box/var/cache/apt/pkgcache.bin
box/var/cache/apt/srcpkgcache.bin
box/var/cache/apt/archives
box/var/lib/apt/lists
box/var/lib/dpkg/lock
box/var/lib/dpkg/lock-frontend

# Shell binaries
/shell
/src/**/*.o
